@page
@model ZealandMarketPlace.Pages.Items.GetItemsModel
@{
}
<div class="col-3">
    <a asp-page="/Items/AddItem"> Add Item</a>
    <div class="row">
        @foreach (var item in Model.items)
        {
            <div>
                <p> @item.Image </p>
                <h5> @item.Name </h5>
                <h6> @item.Price </h6>
                <a asp-page="/Items/ItemDetails" asp-route-itemId="@item.ItemId" class="btn btn-success">Details</a>
            </div>
        }
    </div>
</div>