*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.text--medium{
    font-family: 'Courier Prime', monospace;
    font-size:16px;
    color:#26282E;
}

.text_bold{
    font-weight: bold;
}

main{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;

}

.card_section{
    grid-column: 2 / span 12;
    display:grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    gap:40px;
}

.card_container{
    background-color: #F1F3F8;
    box-shadow: 2px 2px 2px #D1D6E2;
    grid-column-end: span 4;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    cursor:pointer;
    transition: all 0.3s ease 0s;

}

.card_container:hover{
    transform: translateY(-4px);
}

.card_image{
    border-radius: 30px;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card_image img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_text_content{
    padding: 20px;
}

.card_title{
    margin-bottom: 20px;
}

.card_info,
.card_title{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button_details {
    color: #F1F3F8;
    background-image: linear-gradient(135deg, #3174CC, #6FB0F1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 6em;
}

@media only screen and (max-width: 1000px) {
    .card_container{
        grid-column-end: span 6;
    }
}

@media only screen and (max-width: 700px) {
    .card_container{
        grid-column-end: span 6;
    }

    main{
        gap: 20px;
    }
}

@media only screen and (max-width: 500px) {

    .card_section{
        grid-column: 2 / span 6;

        grid-template-columns: repeat(6, 1fr);
        gap:20px;
    }

    .card_container{
        grid-column-end: span 6;
    }

    main{
        gap: 10px;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    }
}
